body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  margin: 0;
  padding: 0;
  height: 30px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 5px
}

.left-panel {
  /* background-color: antiquewhite; */
  width: 18%;
  padding: 5px;
  height: calc(100vh - 10px);
  display: flex;
  flex-direction: column;
  border-right: solid 1px black;
}

.content {
  /* background-color: aqua; */
  width: 80%;
  padding: 5px;
  height: calc(100vh - 10px);
}

.login-form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

input {
  padding: 5px 3px 5px 3px;
  border: none;
  width: 30%;
  margin: 0;
  border-radius: 5px;
  padding-left: 5px;
  outline: none;
  background-color: azure;
}